@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2");
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 100vw;
  height: 100vh;
}

.navigation {
  width: 23.8vw;
  height: 100vh;
  max-width: 335px;
  display: flex;
}
.navigation__layer {
  width: 0.5vw;
  min-width: 3px;
  max-width: 7.5px;
  background-color: #25272A;
}

.menu {
  width: 5.1vw;
  height: 100vh;
  max-width: 72px;
  min-width: 50px;
  background-color: #000;
  padding: 10px 0 15px;
  display: flex;
  flex-direction: column;
}

.dots {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  margin: 0 auto 20px;
  max-width: 52px;
}
.dots__item {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.dots__item--red {
  background-color: #FF6057;
}
.dots__item--yellow {
  background-color: #FFBD2E;
}
.dots__item--green {
  background-color: #28CA42;
}

.servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.servers li {
  margin-bottom: 20px;
  display: block;
}
.servers li:last-child {
  margin-bottom: 0;
  margin-top: auto;
}
.servers__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-position: center;
  border-radius: 20px;
  opacity: 0.4;
  border: none;
}
.servers__item:hover, .servers__item--active {
  opacity: 1;
}
.servers__item--shape {
  background-image: url(../img/server--shape.png);
}
.servers__item--circles {
  background-image: url(../img/server--circles.svg);
  background-size: 20px;
  background-color: #E25A5A;
}
.servers__item--p {
  background-image: url(../img/server--p.png);
}
.servers__item--ball {
  background-image: url(../img/server--ball.png);
  background-color: #EA4C89;
  background-size: 25.5px;
}
.servers__item--up {
  background-image: url(../img/server--up.png);
}
.servers__item--be {
  background-image: url(../img/server--be.png);
}
.servers__item--lines {
  background-image: url(../img/server--lines.png);
  background-size: 28px;
  background-color: #127ABD;
}
.servers__item--btnAdd {
  background-image: url(../img/server--add.svg);
  background-color: #737979;
  background-size: 15.5px;
  cursor: pointer;
}

.social {
  background-color: #25272A;
  flex-grow: 1;
  padding: 34px 8.7%;
  overflow: auto;
  min-width: 183px;
}
.social::-webkit-scrollbar {
  width: 7px;
}
.social::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  width: 5px;
  border-radius: 5px;
}
.social__treads {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #B5B5B5;
  margin-bottom: 32px;
}
.social__treads::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/treads--icon.svg);
  background-size: 18px;
  margin-right: 11px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.header__arrow {
  transition: 0.3s transform;
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
}
.header__title--opened .header__arrow {
  transform: scaleY(-1);
}
.header__title--opened + .header__list {
  transform: scaleY(1);
}
.header__text {
  margin-right: 10px;
}
.header__settings {
  width: 16.5px;
  height: 15.5px;
  background-image: url(../img/header--settings.svg);
  background-color: transparent;
  background-size: 16.5px 15.5px;
  background-position: center;
  border: none;
  cursor: pointer;
}
.header__list {
  transform: scaleY(0);
  transition: 0.3s transform;
  transform-origin: top;
  position: absolute;
  z-index: 2;
  background-color: #25272A;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
}
.header__list--active {
  display: block;
}
.header__option {
  color: #B5B5B5;
  cursor: pointer;
  text-align: center;
}
.header__option:hover {
  color: #25272A;
  background-color: #fff;
}
.header__option--active {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.group {
  margin-bottom: 12px;
}
.group:last-child {
  margin-bottom: 0;
}
.group__title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.group__item {
  padding: 6px 0 7px 12px;
  color: #B5B5B5;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.group__item--active {
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.group__avatar {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-right: 12.5px;
}
.group__list--friends li {
  margin-bottom: 10px;
}
.group__list--friends li:last-child {
  margin-bottom: 0;
}
.group__list--friends .group__item {
  padding: 0;
}
.group__list--friends .group__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #666;
  border-radius: 4px;
  margin-right: 7px;
}
.group__list--friends .group__item--online::before {
  background-color: #70CC16;
}
/*# sourceMappingURL=style.css.map */
