@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2");
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navigation {
  width: 23.8vw;
  height: 100vh;
  max-width: 335px;
  min-width: 238px;
  display: flex;
}
.navigation__layer {
  width: 0.5vw;
  min-width: 3px;
  max-width: 7.5px;
  background-color: #25272A;
}

.menu {
  width: 5.1vw;
  height: 100vh;
  max-width: 72px;
  min-width: 50px;
  background-color: #000;
  padding: 10px 0 15px;
  display: flex;
  flex-direction: column;
}

.dots {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  margin: 0 auto 20px;
  max-width: 52px;
}
.dots__item {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.dots__item--red {
  background-color: #FF6057;
}
.dots__item--yellow {
  background-color: #FFBD2E;
}
.dots__item--green {
  background-color: #28CA42;
}

.servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.servers li {
  margin-bottom: 20px;
  display: block;
}
.servers li:last-child {
  margin-bottom: 0;
  margin-top: auto;
}
.servers__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-position: center;
  border-radius: 20px;
  opacity: 0.4;
  border: none;
}
.servers__item:hover, .servers__item--active {
  opacity: 1;
}
.servers__item--shape {
  background-image: url(../img/server--shape.png);
}
.servers__item--circles {
  background-image: url(../img/server--circles.svg);
  background-size: 20px;
  background-color: #E25A5A;
}
.servers__item--p {
  background-image: url(../img/server--p.png);
}
.servers__item--ball {
  background-image: url(../img/server--ball.png);
  background-color: #EA4C89;
  background-size: 25.5px;
}
.servers__item--up {
  background-image: url(../img/server--up.png);
}
.servers__item--be {
  background-image: url(../img/server--be.png);
}
.servers__item--lines {
  background-image: url(../img/server--lines.png);
  background-size: 28px;
  background-color: #127ABD;
}
.servers__item--btnAdd {
  background-image: url(../img/server--add.svg);
  background-color: #737979;
  background-size: 15.5px;
  cursor: pointer;
}

.social {
  background-color: #25272A;
  flex-grow: 1;
  padding: 34px 8.7%;
  overflow: auto;
  min-width: 183px;
}
.social::-webkit-scrollbar {
  width: 7px;
}
.social::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  width: 5px;
  border-radius: 5px;
}
.social__treads {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #B5B5B5;
  margin-bottom: 32px;
}
.social__treads::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/treads--icon.svg);
  background-size: 18px;
  margin-right: 11px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.header__arrow {
  transition: 0.3s transform;
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
}
.header__title--opened .header__arrow {
  transform: scaleY(-1);
}
.header__title--opened + .header__list {
  transform: scaleY(1);
}
.header__text {
  margin-right: 10px;
}
.header__settings {
  width: 16.5px;
  height: 15.5px;
  background-image: url(../img/header--settings.svg);
  background-color: transparent;
  background-size: 16.5px 15.5px;
  background-position: center;
  border: none;
  cursor: pointer;
}
.header__list {
  transform: scaleY(0);
  transition: 0.3s transform;
  transform-origin: top;
  position: absolute;
  z-index: 2;
  background-color: #25272A;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
}
.header__list--active {
  display: block;
}
.header__option {
  color: #B5B5B5;
  cursor: pointer;
  text-align: center;
}
.header__option:hover {
  color: #25272A;
  background-color: #fff;
}
.header__option--active {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.group {
  margin-bottom: 12px;
}
.group:last-child {
  margin-bottom: 0;
}
.group__title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.group__item {
  padding: 6px 0 7px 12px;
  color: #B5B5B5;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.group__item--active {
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.group__avatar {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-right: 12.5px;
}
.group__list--friends li {
  margin-bottom: 10px;
}
.group__list--friends li:last-child {
  margin-bottom: 0;
}
.group__list--friends .group__item {
  padding: 0;
}
.group__list--friends .group__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #666;
  border-radius: 4px;
  margin-right: 7px;
}
.group__list--friends .group__item--online::before {
  background-color: #70CC16;
}

.content {
  width: 100%;
  min-width: 660px;
  display: flex;
  flex-direction: column;
}
.content__layer {
  width: 6.5px;
}
.content__wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 34px 22px 14.5px;
  border-bottom: 1px solid #c2c2c2;
}
.head__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.head__title::after {
  content: "";
  display: block;
  margin-left: 5px;
  width: 15.5px;
  height: 15px;
  background-image: url(../img/head--start.svg);
  background-size: 15.5px 15px;
  opacity: 0.4;
  cursor: pointer;
}
.head__title:hover::after {
  opacity: 1;
}
.head__menu {
  display: flex;
  align-items: center;
}
.head__submenu:hover .head__dot {
  opacity: 1;
}
.head__dot {
  display: block;
  width: 4.5px;
  height: 4.5px;
  background-color: #000;
  opacity: 0.4;
  border-radius: 3px;
  margin-bottom: 1.5px;
}
.head__dot:last-child {
  margin-bottom: 0;
}
.head__notifications {
  display: block;
  width: 14.5px;
  height: 15.5px;
  background-image: url(../img/head--notification.svg);
  background-size: 14.5px 15.5px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  margin-right: 22.5px;
}
.head__notifications:hover {
  opacity: 1;
}
.head__search {
  color: #8D8D8D;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 35px 8px 16.5px;
  width: 17.2vw;
  max-width: 245px;
  min-width: 140px;
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin-right: 23px;
  background-image: url(../img/head--search.svg);
  background-size: 15.5px;
  background-position: center right 16.5px;
}
.head__counter {
  color: #A4A4A4;
  font-size: 14px;
  line-height: 17px;
  margin-right: 24px;
  display: flex;
}
.head__counter::before {
  content: "";
  display: block;
  width: 10.5px;
  height: 15px;
  background-image: url(../img/head--counter.svg);
  background-size: 10.5px 15px;
  margin-right: 6px;
}

.chat {
  flex-grow: 1;
  padding: 20px 25px;
  overflow: auto;
}
.chat::-webkit-scrollbar {
  width: 7px;
}
.chat::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  width: 7px;
  border-radius: 5px;
}
.chat__message {
  margin-bottom: 15px;
}
.chat__message:last-child {
  margin-bottom: 0;
}
.chat__main {
  display: flex;
  align-items: center;
}
.chat__avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 5px;
}
.chat__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.chat__time {
  color: #8D8D8D;
  font-size: 12px;
  line-height: 14px;
  margin-left: 8px;
}
.chat__text {
  font-size: 13px;
  line-height: 20px;
}
.chat__text--link {
  line-height: 18px;
  color: #3577EF;
}
.chat__separator {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
  background-size: 100% 1px;
  background-position: center left;
  margin-bottom: 10px;
}
.chat__date {
  color: #8D8D8D;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  padding: 0 14px;
}
.chat__img {
  width: 266px;
  margin-left: 44px;
  border-radius: 7px;
}
.chat__additional {
  position: relative;
  width: -moz-min-content;
  width: min-content;
}
.chat__likes {
  position: absolute;
  right: -20px;
  bottom: -8px;
  display: flex;
  padding: 4px 6px 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  width: -moz-min-content;
  width: min-content;
  z-index: 2;
  background-color: #fff;
}
.chat__likes .emoji {
  margin-right: 4.5px;
}

.info {
  width: 200px;
  min-width: 200px;
  height: 100vh;
  background-color: #D0D4D8;
  overflow: hidden;
  position: relative;
}
.info__item {
  display: flex;
  flex-direction: column;
}
.info__wrapper {
  padding: 15px 19px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.info__title::after {
  content: "";
  width: 8px;
  margin-left: 5.5px;
  height: 8px;
  border-radius: 4px;
  background-color: #666;
}
.info__title--online::after {
  background-color: #70CC16;
}
.info__status {
  color: #5F6164;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
}
.info__social {
  display: flex;
  margin-bottom: 18.5px;
}
.info__social li {
  margin-right: 6.5px;
}
.info__social li:last-child {
  margin-right: 0;
}
.info__icon {
  opacity: 0.5;
}
.info__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  opacity: 0.5;
  background-color: #fff;
  background-position: center;
}
.info__social-item:hover {
  opacity: 1;
}
.info__social-item--facebook {
  background-image: url(../img/info--facebook.svg);
  background-size: 6.5px 13.5px;
}
.info__social-item--twitter {
  background-image: url(../img/info--twitter.svg);
  background-size: 13.5px 10.5px;
}
.info__social-item--instagram {
  background-image: url(../img/info--instagram.svg);
  background-size: 13px 13.5px;
}
.info__social-item--linkedln {
  background-image: url(../img/info--linkedln.svg);
  background-size: 12.5px;
}
.info__buttons {
  display: flex;
  margin-bottom: 14px;
}
.info__btn {
  border: none;
  background-color: #3577EF;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  margin-right: 2.5px;
}
.info__btn:last-child {
  margin-right: 0;
}
.info__btn--message {
  padding: 4px 41px;
}
.info__btn--more {
  padding: 4.5px 9px;
}
.info__subtitle {
  color: #5F6164;
  font-size: 12px;
  line-height: 14px;
}
.info__description {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 11px;
  display: inline-block;
}
.info__description:last-child {
  margin-bottom: 0;
}
.info__controls {
  position: absolute;
  width: 162px;
  display: flex;
  justify-content: space-between;
  bottom: 28.5px;
  left: 50%;
  transform: translateX(-50%);
}
.info__slideBtn {
  display: inline-block;
  width: 10px;
  height: 16px;
  background-size: 10px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
}
.info__slideBtn:hover {
  opacity: 1;
}
.info__slideBtn--next {
  background-image: url(../img/info--next.svg);
  margin-left: auto;
}
.info__slideBtn--prev {
  background-image: url(../img/info--prev.svg);
  margin-right: auto;
}
.info__slideBtn--hidden {
  display: none;
}

.emoji {
  width: 16px;
  height: 16px;
}

.new-message {
  display: flex;
  padding: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}
.new-message__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 19px;
  opacity: 0.4;
}
.new-message__btn:hover {
  opacity: 1;
}
.new-message__btn:last-child {
  margin-right: 0;
}
.new-message__btn--add {
  background-image: url(../img/chat--add.svg);
  width: 13.5px;
  height: 22px;
}
.new-message__btn--voice {
  background-image: url(../img/chat--voice.svg);
  width: 15.5px;
  height: 21.5px;
}
.new-message__btn--smile {
  background-image: url(../img/chat--smile.svg);
  width: 20px;
  height: 20px;
}
.new-message__form {
  flex-grow: 1;
  margin-right: 19px;
}
.new-message__input {
  width: 100%;
  color: #8D8D8D;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
}

.slider {
  display: flex;
  height: 100%;
  transition: 0.5s transform;
}
/*# sourceMappingURL=style.css.map */
