.chat {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 25px;
  &__message {
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 5px;
  }
  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  &__time {
    color: #8D8D8D;
    font-size: 12px;
    line-height: 14px;
    margin-left: 8px;
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    &--link {
      line-height: 18px;
      color: #3577EF;
    }
  }
}
